.side-nav {
  min-width: 306px;
  position: fixed;
  top: 0;
  bottom: 0;
  padding-top: 30px;
  overflow: auto;
  z-index: 5;
  background: #ffffff;
  box-shadow: 10px 3px 15px rgba(0, 0, 0, 0.05);
  border-bottom-right-radius: 25px;
  transition-timing-function: ease-out;
}

.company-name {
  display: flex;
  align-items: center;
  justify-content: center;
  b {
    font-size: 18px;
    padding-left: 10px;
  }
}

.side-nav-mobile {
  display: block;
}

.close-button {
  position: absolute;
  top: 9px;
  right: 13px;
  color: #bbadad;
  font-size: 20px;
  display: none;
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  b {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #888cb7;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    color: #a2a4b9;
  }
  span {
    :nth-child(1) {
      color: #a2a4b9;
      font-size: 14px;
      line-height: 19px;
    }
    :nth-child(2) {
      color: green;
      font-size: 14px;
      line-height: 19px;
    }
  }
}

.create-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  button {
    background: #713bdb;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.12);
    border-radius: 7px;
    color: white;
    width: 180px;
    font-size: 16px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

// Media Queries

@media screen and (max-width: 820px) {
  .side-nav-mobile {
    display: none;
    padding-top: 45px;
    box-shadow:0 0 0 10000px rgba(0,0,0,.50);
  }
  .close-button{
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  .side-nav{
    display: block !important;
  }
}
