.top-nav {
  height: 80px;
  width: 100%;
  right: 0;
  left: 0;
  z-index: 1030;
  background: #ffffff;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0px 20px 0px 0px;
  z-index: 1;
  display: flex;
  align-items: center;
  margin-left: 306px;
}

#hamburger {
  margin-left: 15px;
  display: none;
}

.menu {
  display: flex;
  height: 100%;
  align-items: center;
  color: #42474a;
  
  a {
    text-decoration: none;
    font-size: 14px;
    margin-left: 40px;
  }

  a:hover {
    border-radius: 1px;
    color: #713bdb;
  }
}

#active-item{
  color: #713bdb !important;
}

#active-item::after {
  content: "";
  color: #713bdb !important;
  border-bottom: 2px #713bdb solid;
  width: 40%;
  display: block;
  padding-top: 4px;
  margin: 0 auto;
  padding-top: 2px;
}

@media screen and (max-width: 768px) {
  .top-nav {
    margin-left: 0;
    // width: 100%;
  }
  #hamburger {
    display: block;
  }
}

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {
//   .top-nav {
//     margin-left: 0;
//   }
//   #hamburger {
//     display: block;
//   }
// }